
.min {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.from-area {
  background-color:whitesmoke;
  padding: 30px;
  box-shadow: bisque;
  overflow: auto;
}
.from {
  margin: 50px;
  padding: 30px;
  overflow: scroll;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}

/* エラー文 */
ul {
  list-style: none;
}

.a {
  text-decoration: none;
}

.a.link {
  margin-top: 20px;
}
a:hover{
  color : #ff7043;
  text-decoration: none;
}