{% extends 'base.html' %}
{% load static %}
{% block title %}ログイン{% endblock title%}
{% block css %}
  <link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock css %}
{% block content %}


<div class="min">
  <div class="from-area">
    <div class="from">
      <h1>ログインはこちら</h1>
      <form action="{% url 'Dapp:login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="ログイン" class="btn btn--orange">
      </form>
      <div class="a">
        <a href= "{% url 'Dapp:signup' %}">新規登録はこちら</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}